:root {
    --white: #ebe9e3;
    --off-white: #b4b2ae;
    --accent-white: #dddddd;
    --green: #344e41;
    --off-green: #4d6157;
    --purple: #58355E;
    --black: #222222;
}

a {
    text-decoration: none;
}

b {
    font-family: "YoungSerif", Times, serif;
    font-weight: lighter;
    color: var(--green);
}

* {
    box-sizing: border-box;
    
}

html, body {
    overflow-x: clip;
}

body {
    margin: 0;
    padding: 0;
}

.hero {
    width: 100%;
    height: 65vh;
    box-sizing: border-box;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 60vw 40vw;
    margin-bottom: 0;
}

.hero-text {
    color: var(--black);
    font-size: 4.5rem; 
    font-family: 'Graphik';
    display: flex;
    margin-left: 7vw;
}

.hero-title {
    align-content: center;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar {
    width: 100%;
    height: 9vh;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 1000;
    background-color: var(--green); 
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    padding-top: 2vh;
    padding-bottom: 2vh;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05), 0 15px 40px rgba(0, 0, 0, 0.2);
    
}

.divider {
    height: 3px;
    width: 90vw;
    background-color: var(--accent-white);
    margin: 0;
    margin-left: 5vw;
    display: grid;
    border-radius: 10px;
}

.at-a-glance {
    width: 90vw;
    background-color: var(--white);
    margin: 0;
    margin-left: 5vw;
    padding: 5px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    
}

.at-a-glance-text {
    display: flex;
    font-family: "Graphik", Times, serif;
    font-weight: lighter;
    color: var(--black);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
}

.at-a-glance-links {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 50% 50%;
}

.at-a-glance-buttons {
    text-align: center;
    justify-items: center;
    align-items: center;
    font-family: "YoungSerif";
    font-size: 1.75rem;
    border: 2px solid var(--off-white);
    border-radius: 20px;
    padding: 10px;
    color: var(--white);
    transition: all 0.4s ease-out;
}

.at-a-glance-buttons:hover {
    transition: all 0.4s ease-out;
    transform: translateY(-4px);
}

.at-a-glance-projects {
    background-color: var(--green);
}

.at-a-glance-contact {
    background-color: var(--purple);
}

.at-a-glance-links-text {
    color: inherit;
}

.navbar-item {
    display: flex;
    align-items: center;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: var(--white);
    margin-left: 2vw;
    margin-right: 2vw;
}

.navbar-list {
    float:right;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0.5vw;
}

.navbar-tag {
    float:left;
    margin-right: auto;
}

.navbar-item-text {
    display: block;
    text-align: center;
    padding: 14px 16px;
    transition: all 0.6s ease;
    font-family: "YoungSerif", Times, serif;
    font-size: 1.5rem;
    color: inherit;
    border-radius: 5px;
}

.navbar-tag-text {
    display: block;
    text-align: center;
    padding: 14px 16px;
    transition: all 0.6s ease;
    font-family: "YoungSerif", Times, serif;
    font-weight: bolder;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color:var(--white);
}

.navbar-item-text:hover {
    background-color: var(--off-green);
    border-radius: 20px;
    transform: translateY(-2px);
}

.previously {
    width: 66vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
}

.previously-worked-with {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-top: 5vh;
    margin-bottom: 1vh;
}

.company-logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: 350px;
}

.large-company-logo {
    display: flex;
    align-self: center;
    justify-self: center;
    height: 300px;
    border: 2px solid var(--accent-white);
    border-radius: 15px;
}

.company-logo {
    display: flex;
    align-self: center;
    justify-self: center;
    height: 250px;
    border: 2px solid var(--accent-white);
    border-radius: 15px;
}

.featured-projects {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.featured-header {
    display: grid;
    grid-template-columns: auto auto;
}

.featured-header-text {
    font-family: "YoungSerif", Times, serif;
    font-weight: lighter;
    font-size: 3rem;
    color: var(--green);
}
.featured-header-button {
    text-align: center;
    font-family: "YoungSerif";
    font-size: 1.75rem;
    border: 2px solid var(--off-white);
    border-radius: 20px;
    padding: 10px;
    margin-left: auto;
    margin-bottom: auto;
    color: var(--white);
    transition: all 0.4s ease-out;
    background-color: var(--purple);
}

.featured-header-button:hover {
    transition: all 0.4s ease-out;
    transform: translateY(-4px);
}

.featured-content {
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.featured-card {
    display: block;
    justify-self: center;
    height: 30vh;
    width: 23vw;
    border: solid var(--off-white) 3px;
    border-radius: 15px;
    transform: translateY(0px);
    transition: all 0.4s ease-out;
}

.featured-card:hover {
    transition: all 0.4s ease-out;
    transform: translateY(-4px);
}

.featured-image-wrapper {
    overflow: hidden;
}

.featured-image {
    height: 13vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-radius: 12px 12px 0 0;
    border-bottom: solid var(--off-white) 2px ;    
}

.featured-title {
    font-family: 'YoungSerif';
    font-size: 2rem;
    margin-left: 9px;
}

.featured-text {
    display: -webkit-box;
    font-family: 'Graphik';
    font-size: 1.5rem;
    margin-left: 9px;
    margin-right: 9px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;  
}

.featured-link {
    position: absolute;
    bottom: -1.75rem;
    justify-self: center;
    font-family: 'YoungSerif';
    font-size: 1.5rem;
    font-style: italic;
    color: var(--white);
    background-color: var(--green);
    border: solid var(--off-white) 3px;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.2s ease-out;
    padding: 4px;
    translate: translateY(0);
}

.featured-card:hover .featured-link {
    opacity: 1;
    transition: all 0.4s ease-out;
}

.featured-link:hover {
    translate: translateY(-2);
    background-color: #405a4d;
}

.featured-link-text {
    color: var(--white);
}

.footer {
    width: 100%;
    height: 15vh;
    background-color: var(--black);
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

.backToTop {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.backToTopText {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-family: "YoungSerif";
    font-style: italic;
    font-weight: lighter;
    font-size: 2rem;
    transition: all 0.6s ease;
    padding: 0.5rem;
}

.backToTopText:hover {
    background-color: #31302f;
    border-radius: 1rem;
    transition: all 0.6s ease;
    transform: translateY(-2px);
}

.signature {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 0;
    height: 100%;
    padding: 1rem;
}

.signature-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connect-text {
    color: var(--white);
    font-family: "YoungSerif";
    font-weight: lighter;
    font-size: 2rem;
    transition: all 0.6s ease;
    padding: 0.5rem;
    padding-top: 0;
}

.social-links {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}    

.social-links a {
  display: inline-flex;
  background-color: var(--white);
  border-radius: 50%;
  padding: 5px;
}

.social-links img {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease;
}

.social-links a:hover img {
    transform: translateY(-2px);
}

@font-face {
    font-family: 'YoungSerif';
    src: url('./fonts/YoungSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('./fonts/Graphik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}